<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Request header parser microservice | Angélique D. Faye</title>

		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
		/>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<main>
			<h1>Request header parser microservice</h1>

			<article>
				<p>
					This microservice responds to a <code>GET</code> request at the
					<a href="http://localhost:5000/api/whoami"
						><code>http://localhost:5000/api/whoami</code></a
					>
					endpoint with the following information about the client:
				</p>
				<ul>
					<li>IP address</li>
					<li>The browser language</li>
					<li>The software used by the client (browser, operating sytem)</li>
				</ul>

				<p>For example, the following information was found on this browser:</p>

        <table class="table table-dark">
          <tr>
            <td>IP address:</td>
            <td id="initial-ip">test</td#></tr>
          <tr>
            <td>Language:</td>
            <td id="initial-language">test</td#></tr>
          <tr>
            <td>Software:</td>
            <td id="initial-software">test</td#></tr>
        </table>
			</article>

      <p>
      <a href="https://github.com/AngeliqueDF/request-header-parser-microservice-challenge">View the repo to learn more about this project and how to test it with various tools.</a>

      </p>
		</main>
    <footer>
<p>Coded by <a href="https://adf.dev">Angélique D. Faye</a>, challenge by <a href="https://www.freecodecamp.org/learn/back-end-development-and-apis/back-end-development-and-apis-projects/request-header-parser-microservice">freeCodeCamp</a></p>
    </footer>
		<script type="module" src="./src/js/main.js"></script>
	</body>
</html>
